.card {
  width: 100%;
  max-width: 360px;
  min-width: 260px;
  background-color: rgb(56, 64, 78);
  border-radius: 24px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  color: white;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.details p {
  margin: 8px 0;
  opacity: 0.9;
  font-size: 15px;
  font-style: italic;
}

.forecast {
  margin-top: 24px;
}

.forecastList {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}

