.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.layout {
  display: flex;
  gap: 24px;
   flex-wrap: wrap;
  justify-content: center;
}

.left {
  position: relative;
  z-index: 1;
}

@media (max-width: 800px) {
  .layout {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .layout {
    transform: scale(0.9);
    transform-origin: top center;
    width: calc(100% / 0.9);
  }
}

@media (max-width: 390px) {
  .layout {
    transform: scale(0.85);
    width: calc(100% / 0.85);
  }
}

@media (max-width: 373px) {
  .layout {
    transform: scale(0.75);
    width: calc(100% / 0.75);
  }
}


