.app {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.right {
  flex: 1;
  border-radius: 15px;
  background-color: rgb(56, 64, 78);
  padding: 100px;
  
}

.left {
  position: relative;
  z-index: 1;
  left: 2rem;
}

@media (max-width:750px) {
  .layout {
    display: flex;
    flex-direction: column;
  }

  .left {
    z-index: 0;
    left: auto;
  }
}