.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.layout {
  display: flex;
  gap: 24px;
}

.left {
  position: relative;
  z-index: 1;
}

.right {
  /* width: 320px;
  height: 500px;

  background-color: rgb(56, 64, 78);
  border-radius: 24px;

  padding: 24px; */

  display: flex;
  /* flex-direction: column;
  gap: 24px;

  color: white; */
}


@media (max-width: 750px) {
  .layout {
    flex-direction: column;
  }
}

 